.App {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-card {
  width: 100px;
  height: 100px;
  flex-direction: column;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  margin: 5px;
  cursor: pointer;
}
.product-card button {
  cursor: pointer;
}
.product-list {
  display: flex;
}